<div class="lattice-show">
  <h1 class="lattice-title">{{model.title}}</h1>
  {{#if model.limit_by_category}}
    <span class="category">{{bound-category-link model.category allowUncategorized=true}}</span>
  {{/if}}
  <p>{{model.description}}</p>
  <table class="lattice-table topic-list">
    <thead class="lattice-table-head">
      <th />
      {{#each model.columns as |column|}}
        <th class="lattice-table-column-name sortable">
          <a href="{{tagUrlFor column}}">
            <strong>{{column}}</strong>
          </a>
        </th>
      {{/each}}
    </thead>
    <tbody class="lattice-table-body">
      {{#each model.rows as |row|}}
        <tr class="lattice-table-row">
          <td class="lattice-table-row-name">
            <a href="{{tagUrlFor row}}">
              <strong>{{row}}</strong>
            </a>
          </td>
          {{#each model.columns as |column|}}
            <td class="lattice-table-cell">
              {{#if site.mobileView}}
                <div class="lattice-mobile-cell">
                  {{#link-to 'tags.show' row column}}
                    <div class="lattice-topic-count">{{get model "topics" row column "data" "length"}}</div>
                    <div>{{i18n 'groups.topics'}}</div>
                  {{/link-to}}
                </div>
              {{else}}
                {{#each (get model "topics" row column "data") as |topic|}}
                  <a href="#" data-topic-card="{{topic.id}}">
                    {{avatar topic.created_by imageSize="small" title=topic.title}}
                  </a>
                {{/each}}
                {{#if (get model "topics" row column "view_more")}}
                  {{#link-to 'tags.show' row column class="lattice-view-more"}}{{i18n 'lattice.client.view_more'}}{{/link-to}}
                {{/if}}
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{render "topic-card"}}
