<div class="lattice-show">
  <h1 class="lattice-title">{{model.title}}</h1>
  {{#if model.limit_by_category}}
    <span class="category">{{bound-category-link model.category allowUncategorized=true}}</span>
  {{/if}}
  <p>{{model.description}}</p>
  <table class="lattice-table topic-list">
    <thead class="lattice-table-head">
      <th />
      {{#each model.columns as |column|}}
        <th class="lattice-table-column-name sortable">
          <a href="{{tagUrlFor column}}">
            <strong>{{column}}</strong>
          </a>
        </th>
      {{/each}}
    </thead>
    <tbody class="lattice-table-body">
      {{#each model.rows as |row|}}
        <tr class="lattice-table-row">
          <td class="lattice-table-row-name">
            <a href="{{tagUrlFor row}}">
              <strong>{{row}}</strong>
            </a>
          </td>
          {{#each model.columns as |column|}}
            <td class="lattice-table-cell">
              {{#if site.mobileView}}
                <div class="lattice-mobile-cell">
                  <a href="{{tagUrlFor row column}}">
                    <div class="lattice-topic-count">{{topicDataFor model row column "count"}}</div>
                    <div>{{i18n 'groups.topics'}}</div>
                  </a>
                </div>
              {{else}}
                {{#if (topicDataFor model row column)}}
                  {{#each (topicDataFor model row column) as |topic|}}
                    <a href="#" data-topic-card="{{topic.id}}">
                      {{avatar topic.created_by imageSize=siteSettings.lattice_avatar_size title=topic.title}}
                    </a>
                  {{/each}}
                <a class="lattice-view-all" href="{{tagUrlFor row column}}">{{i18n 'lattice.client.view_all'}}</a>
                {{else}}
                  <span>{{i18n 'lattice.client.empty'}}</span>
                {{/if}}
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{render "topic-card" model}}
